
.coffee{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 60px 0 30px;
}
  

.coffee__item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 760px;
    gap: 60px;

    font-family: 'Merienda', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    color: #000000;
}

.coffee__column{
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
}

.coffee__country{
    display: flex;
    justify-content: flex-end;
    padding: 4px;
}

.coffee__price{
    display: flex;
    justify-content: flex-end;

    font-weight: 700;
}