body{
  min-width: 1440px;
  margin: 0;
}


/* SideBar */
.sidebar{
  position: absolute;
  top: 75px;
  left: 90px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.sidebar__link{
  font-family: 'Merienda', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;

  text-decoration: none;
  color: #FFFFFF;
}
